<!-- app.component.html -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <!-- Menu de navegação -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="showLista = true; showDados = false;">Lista</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="showDados = true; showLista = false;">Dados</a>
    </li>
  </ul>
</nav>

<!-- Outlet para exibir os componentes das rotas -->
<div *ngIf="showLista">
  <app-livro-lista></app-livro-lista>
</div>

<div *ngIf="showDados">
  <app-livro-dados></app-livro-dados>
</div>
